.btn {
  display: inline-flex;
  padding: 14px 20px;
  letter-spacing: 0.05em;

  color: $color-default-white;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  text-transform: uppercase;

  background-color: $color-transparent;
  box-shadow: inset 0px 0px 0px 2px $color-sapphire;
  cursor: pointer;
  justify-content: center;
  font-size: 12px;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  @include hover {
    background-image: $red-blue-linear-left-to-right;
    box-shadow: none;
    color: $color-default-white;
  }

  @include focus {
    background-image: $red-blue-linear-left-to-right;
    box-shadow: none;
    color: $color-default-white;
  }

  &:focus-visible {
    outline: none;
  }

  @include active-not-focus-visible {
    color: rgba($color-default-white, 0.7);
    background-color: $color-default-white;
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}
