.form {
  padding: 71px 168px 67px 0;

  @include vp-1199 {
    padding: 66px 161px 69px 133px;

    background-color: $color-sapphire;
  }

  @include vp-767 {
    padding: 67px 15px 69px 15px;
  }
}

.form h2 {
  margin: 0 0 32px 0;

  font-weight: 600;
  font-size: 54px;
  line-height: 54px;
  font-family: $ff-alumni-sans;
  color: $color-default-white;
  letter-spacing: 0.04em;

  @include vp-1199 {
    margin-bottom: 36px;

    font-size: 42px;
    line-height: 42px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.03em;
  }
}

.form__fields {
  display: grid;
  margin: 0 0 27px 0;
  padding: 0;

  border: none;

  gap: 30px;
  grid-template-columns: repeat(2, 1fr);

  @include vp-1199 {
    gap: 59px;
  }

  @include vp-767 {
    margin-bottom: 37px;

    gap: 31px;
    grid-template-columns: 1fr;
  }
}

.form__field-wrapper {
  position: relative;

  &.is-invalid input {
    background-color: $color-sapphire;
    box-shadow: inset 0 -1px $color-torch-red-2;
  }
}

.input-message {
  position: absolute;
  bottom: -24px;
  left: 0;

  font-size: 14px;
  line-height: 22px;

  &.is-invalid {
    color: $color-torch-red-2;
  }
}

.form__field-wrapper input {
  width: 100%;
  padding: 4px 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-family: $ff-roboto-condensed;
  color: $color-default-white;

  background-color: $color-sapphire;
  border: none;
  box-shadow: inset 0 -1px rgba($color-default-white, 0.5);

  transition: all $trans-default;

  @include hover {
    box-shadow: inset 0 -1px $color-default-white;
  }

  @include focus {
    padding: 4px;

    box-shadow: inset 0 0 0 1px $color-default-white;
  }

  @include active-not-focus-visible {
    padding: 4px;

    background-color: $color-sapphire;
    box-shadow: inset 0 -1px $color-default-white;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    font-family: $ff-roboto-condensed;
    color: $color-default-white;
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    opacity: 0.4;

    pointer-events: none;
  }
}

.form__button {
  display: flex;
  width: 100%;
  padding: 17px;

  font-size: 14px;
  line-height: 22px;

  border: none;
  box-shadow: inset 0 0 0 3px $color-default-white;

  @include hover {
    color: $color-egyptian-blue;

    background-color: $color-default-white;
    background-image: none;
  }

  @include focus {
    color: $color-egyptian-blue;

    background-color: $color-default-white;
    background-image: none;
  }

  @include active-not-focus-visible {
    color: $color-sapphire;

    background-color: $color-default-white;
  }

  @include vp-1199 {
    padding: 16px;
  }
}
