.games {
  padding: 120px 0 112px 0;

  @include vp-1199 {
    padding: 100px 0 101px 0;
  }

  @include vp-767 {
    padding: 70px 0;
  }
}

.games__wrapper {
  display: grid;

  grid-template-columns: repeat(2, auto);

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.games__info {
  display: grid;
  align-items: start;
  padding: 86px 79px 85px 77px;

  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: $color-default-white;

  background-color: $color-torch-red;

  grid-template-areas: "title date-label date-label"
    "title day month"
    "title day year"
    "title time-label time-label"
    "title time time"
    "description description description"
    "link link link";
  grid-template-columns: auto 27px auto;
  grid-template-rows: repeat(5, min-content) repeat(2, auto);

  @include vp-1199 {
    padding: 44px 45px 49px 45px;

    font-size: 12px;
    line-height: 18px;

    grid-template-columns: auto 16px auto;
  }

  @include vp-767 {
    padding: 39px 43px 51px 43px;
  }
}

.games__info h2 {
  margin: 0 58px 0 14px;

  font-weight: 600;
  font-size: 82px;
  line-height: 79px;
  font-family: $ff-alumni-sans;
  text-transform: uppercase;
  letter-spacing: 0.03em;

  grid-area: title;

  @include vp-1199 {
    margin: 5px 31px 0 8px;

    font-size: 48px;
    line-height: 46px;
  }

  @include vp-767 {
    margin: 10px 31px 0 9px;
  }
}

.games__date-label,
.games__time-label {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0;

    height: 1px;

    background-color: $color-default-white;
  }
}

.games__date-label {
  line-height: 18px;

  grid-area: date-label;

  &::before {
    width: 64px;
  }

  @include vp-1199 {
    line-height: 22px;

    &::before {
      bottom: -1px;

      width: 42px;
    }
  }

  @include vp-767 {
    margin: 8px 0 0 0;
    line-height: 18px;
  }
}

.games__day,
.games__time {
  font-weight: 700;
  font-size: 40px;

  @include vp-1199 {
    font-size: 24px;
  }
}

.games__day {
  line-height: 67px;

  grid-area: day;

  @include vp-1199 {
    line-height: 36px;
  }
}

.games__month,
.games__year {
  font-size: 14px;
  line-height: 18px;

  @include vp-1199 {
    font-size: 10px;
    line-height: 12px;
  }
}

.games__month {
  align-self: end;

  grid-area: month;
}

.games__year {
  grid-area: year;
}

.games__time-label {
  margin-top: 10px;

  grid-area: time-label;

  &::before {
    width: 87px;
  }

  @include vp-1199 {
    margin: 0;

    line-height: 17px;

    &::before {
      bottom: -2px;

      width: 56px;
    }
  }
}

.games__time {
  line-height: 66px;

  grid-area: time;

  @include vp-1199 {
    line-height: 32px;
  }
}

.games__info p {
  margin: 12px 0 49px 0;

  grid-area: description;

  @include vp-1199 {
    margin: 3px 0 29px 0;
  }

  @include vp-767 {
    margin-left: 3px 0 30px 1px;
  }
}

.games__link {
  padding: 28px 20px;

  line-height: 14px;

  box-shadow: inset 0 0 0 4px $color-default-white;

  grid-area: link;

  @include hover {
    color: $color-egyptian-blue;

    background-color: $color-default-white;
    background-image: none;
  }

  @include focus {
    color: $color-egyptian-blue;

    background-color: $color-default-white;
    background-image: none;
  }

  @include active-not-focus-visible {
    color: $color-sapphire;

    background-color: $color-default-white;
    background-image: none;
  }

  @include vp-1199 {
    padding: 15px 20px;

    font-size: 10px;
    line-height: 12px;

    box-shadow: inset 0 0 0 2px $color-default-white;
    min-width: 203px;
  }

  @include vp-767 {
    padding: 15px 20px 14px 20px;
  }
}

.games__image-wrapper img {
  @include vp-1199 {
    width: 100%;
    height: 100%;
  }
}
