.promotion {
  padding: 140px 0 120px 0;

  @include vp-1199 {
    padding: 96px 0 100px 0;
  }

  @include vp-767 {
    padding: 67px 0 70px 0;
  }
}

.promotion h2 {
  margin: 0 0 38px 0;

  font-weight: 600;
  font-size: 54px;
  line-height: 54px;
  font-family: $ff-alumni-sans;
  text-align: center;
  letter-spacing: 0.03em;

  @include vp-1199 {
    margin-bottom: 44px;

    font-size: 42px;
    line-height: 42px;
  }

  @include vp-767 {
    margin-bottom: 45px;

    font-size: 32px;
    line-height: 32px;
  }
}

.promotion__wrapper {
  display: grid;

  gap: 40px;
  grid-template-columns: repeat(2, 1fr);

  @include vp-1199 {
    gap: 30px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;

    gap: 0;
  }
}

.promotion__option {
  padding: 24px 27px 11px 27px;

  color: $color-resolution-blue;

  border: 7px solid $color-transparent;
  border-image: $red-blue-linear-diagonal-2;
  border-image-slice: 1;

  @include vp-1199 {
    padding: 24px 28px 14px 28px;
  }

  @include vp-767 {
    padding: 35px 27px 26px 27px;

    text-align: center;
  }
}

.promotion__option--year {
  display: flex;
  padding: 0;
  align-self: start;

  border: none;

  grid-row: 1 / 3;

  @include vp-1199 {
    display: grid;
    padding: 0;
    max-width: 678px;
    margin: 0 auto;

    grid-column: 1 / 3;
    grid-row: 1 / 2;
    grid-template-columns: 279px 1fr;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    padding: 0;
    max-width: none;
  }
}

.promotion__option--month {
  @include vp-1199 {
    padding-right: 56px;
  }

  @include vp-767 {
    padding-right: 27px;
  }
}

.promotion__option:not(:last-child) {
  @include vp-767 {
    margin-bottom: 30px;
    width: 100%;
  }
}

.promotion__option h3 {
  margin: 0 0 9px 0;

  font-weight: 700;
  font-size: 26px;
  line-height: 26px;

  @include vp-1199 {
    margin-bottom: 11px;
  }

  @include vp-767 {
    margin-bottom: 11px;

    font-size: 26px;
  }
}

.promotion__option p {
  margin: 0 0 55px 0;

  font-weight: 400;

  @include vp-1199 {
    margin-bottom: 34px;

    line-height: 22px;
  }

  @include vp-767 {
    margin-bottom: 11px;
  }
}

.promotion__option--sale p {
  @include vp-1199 {
    margin-bottom: 56px;
  }

  @include vp-767 {
    margin-bottom: 11px;
  }
}

.promotion__link {
  position: relative;

  margin: 0 0 auto -10px;
  padding: 10px;

  color: $color-sapphire;
  text-transform: uppercase;

  box-shadow: none;

  @include hover {
    color: $color-sapphire;

    background-image: none;
    opacity: 0.7;
  }

  @include focus {
    color: $color-sapphire;

    background-image: none;
    box-shadow: inset 0 0 0 1px $color-sapphire;

    &::before {
      display: none;
    }
  }

  @include active-not-focus-visible {
    color: $color-sapphire;

    background-color: $color-transparent;
    opacity: 1;
  }

  @include vp-767 {
    margin-left: 0;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 13px;
    left: 10px;

    width: calc(100% - 20px);
    height: 1px;

    background-color: $color-sapphire;
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.promotion__year-text {
  width: 50%;
  padding: 41px 34px 37px 45px;

  color: $color-default-white;

  background-color: $color-torch-red;

  @include vp-1199 {
    width: auto;
  }

  @include vp-767 {
    padding: 41px 44px 37px 44px;
  }
}

.promotion__year-text h3 {
  margin-bottom: 3px;

  font-size: 28px;
  line-height: 28px;

  @include vp-1199 {
    margin-bottom: 3px;
  }

  @include vp-767 {
    margin-bottom: 3px;

    font-size: 26px;
  }
}

.promotion__year-text span {
  display: block;
  margin-bottom: 19px;

  font-weight: 700;
  font-size: 70px;
  line-height: 70px;

  @include vp-767 {
    margin-bottom: 13px;
  }
}

.promotion__year-text p {
  margin-bottom: 180px;

  font-size: 18px;
  line-height: 25px;

  @include vp-1199 {
    margin-bottom: 180px;

    line-height: 25px;
  }

  @include vp-767 {
    margin-bottom: 23px;
  }
}

.promotion__year-text .promotion__link {
  font-size: 14px;
  line-height: 14px;
  color: $color-default-white;

  box-shadow: none;

  @include hover {
    color: $color-default-white;

    opacity: 0.8;
  }

  @include focus {
    color: $color-default-white;

    box-shadow: inset 0 0 0 1px $color-default-white;
  }

  @include active-not-focus-visible {
    color: $color-default-white;
  }

  &::before {
    bottom: 8px;

    background-color: $color-default-white;
  }
}

.promotion__year-image-wrapper {
  @include vp-767 {
    width: 100%;
    height: 100%;
  }
}

.promotion__year-image-wrapper img {
  max-width: none;
  object-fit: cover;

  @include vp-1199 {
    width: 100%;
  }
}
