.subscription {
  position: relative;

  padding: 130px 0 121px 0;

  text-align: center;

  background-color: $color-ghost-white;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -143px;
    z-index: 1;

    width: 287px;
    height: 487px;

    background-image: url("../img/background/weights-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/background/weights-desktop@2x.png");
    }
  }

  @include vp-1199 {
    padding: 105px 118px 100px 118px;

    &::before {
      right: 0;
      bottom: -64px;

      width: 347px;
      height: 383px;

      background-image: url("../img/background/weights-tablet.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/background/weights-tablet@2x.png");
      }
    }
  }

  @include vp-767 {
    padding: 67px 0 70px 0;

    &::before {
      display: none;
    }
  }
}


.subscription h2 {
  margin: 0 0 13px 0;

  font-weight: 600;
  font-size: 54px;
  line-height: 46px;
  font-family: $ff-alumni-sans;
  letter-spacing: 0.03em;

  @include vp-1199 {
    max-width: 480px;
    margin: 0 auto 8px auto;

    font-size: 42px;
    line-height: 42px;
  }

  @include vp-767 {
    max-width: none;
    margin: 0 0 7px 0;

    font-size: 32px;
    line-height: 32px;
  }
}

.subscription__controls {
  position: relative;

  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 38px auto;
  padding: 0;

  list-style-type: none;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 1;

    width: calc(100% - 20px);
    height: 2px;

    background-color: rgba($color-sapphire, 0.2);
  }

  @include vp-1199 {
    margin: 0 auto 44px auto;
  }

  @include vp-767 {
    margin-bottom: 33px;

    &::before {
      left: 0;

      width: 100%;
    }
  }
}

.subscription__control {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 10px 16px 10px;

  font-size: 20px;
  color: rgba($color-sapphire, 0.5);
  text-transform: none;

  background-color: $color-transparent;
  border: none;
  cursor: pointer;

  transition: all $trans-default;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10px;

    width: calc(100% - 20px);
    height: 2px;

    background-color: $color-crimson;
    opacity: 0;

    transition: all $trans-default;
  }

  @include hover {
    color: $color-sapphire;

    &::before {
      opacity: 1;
    }
  }

  @include focus {
    color: $color-sapphire;

    &::before {
      opacity: 1;
    }
  }

  @include active-not-focus-visible {
    color: $color-sapphire;

    &::before {
      opacity: 1;
    }
  }

  @include vp-767 {
    padding: 17px 0 15px 0;

    font-size: 16px;
    line-height: 24px;

    &::before {
      left: 0;

      width: calc(100% + 7px);
    }
  }

  &.is-active {
    color: $color-sapphire;

    &::before {
      opacity: 1;
    }
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    color: rgba($color-sapphire, 0.3);
  }
}

.subscription__control:not(:last-child) {
  margin-right: 27px;

  @include vp-767 {
    margin-right: 46px;
  }
}

.subscription__content {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.subscription__element {
  width: 100%;
}

.subscription__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style-type: none;

  gap: 40px;
  grid-template-columns: repeat(3, 1fr);

  @include vp-1199 {
    grid-template-columns: 1fr;
  }

  @include vp-767 {
    gap: 35px;
  }
}

.subscription__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 360px;
  padding: 57px 40px 59px 40px;

  background-color: $color-default-white;
  border: 7px solid $color-default-white;

  @include vp-1199 {
    min-width: 442px;
    padding: 58px 40px 59px 40px;
  }

  @include vp-767 {
    min-width: 290px;
    padding: 42px 33px 47px 33px;
  }

  &:hover,
  &:focus {
    border-image: $red-blue-linear-left-to-right;
    border-image-slice: 1;
  }
}

.subscription__item h3 {
  margin: 0 0 12px 0;

  font-weight: 700;
  font-size: 26px;
  line-height: 26px;

  @include vp-1199 {
    margin-bottom: 12px;
  }

  @include vp-767 {
    margin-bottom: 7px;

    font-size: 22px;
    line-height: 28px;
  }
}

.subscription__item p {
  margin: 0 0 80px 0;

  font-weight: 400;

  @include vp-767 {
    margin-bottom: 66px;

    color: $color-chambray;
  }
}

.subscription__price {
  position: relative;

  padding-right: 44px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include vp-767 {
    padding-right: 35px;
  }
}

.subscription__item span:first-of-type {
  position: relative;
  z-index: 2;

  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  font-family: $ff-roboto-condensed;
  color: $color-egyptian-blue;

  &::before {
    content: attr(data-price);
    position: absolute;
    bottom: 4px;
    left: -19px;
    z-index: -1;

    font-size: 100px;
    line-height: 100px;
    color: $color-whisper;
  }

  @include vp-767 {
    font-size: 48px;
    line-height: 48px;

    &::before {
      bottom: 4px;
      left: -14px;

      font-size: 79px;
      line-height: 79px;
    }
  }
}

.subscription__item span:last-of-type {
  position: absolute;
  top: -6px;
  right: -5px;
  z-index: 2;

  font-weight: 600;
  font-size: 58px;
  line-height: 58px;
  font-family: $ff-rouble;
  color: $color-sapphire;

  @include vp-1199 {
    top: -7px;
  }

  @include vp-767 {
    top: -4px;
    right: -3px;

    font-size: 45px;
    line-height: 45px;
  }
}

.subscription__link {
  display: flex;
  width: 208px;
  margin-top: 49px;
  padding: 21px 10px;

  color: $color-sapphire;

  @include vp-1199 {
    min-width: 208px;
  }

  @include vp-767 {
    margin-top: 42px;
  }
}

.subscription__image-wrapper {
  position: absolute;
  right: 0;
  bottom: -277px;

  @include vp-767 {
    display: none;
  }
}

.subscription__image-wrapper img {
  @include vp-1199 {
    width: 289px;
    height: 345px;
  }

  @include vp-767 {
    display: none;
  }
}
