.subscription {
  text-align: center;
  background-color: $color-ghost-white;
  padding: 128px 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -143px;
    right: 0;
    background-image: url("../img/background/weights-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 287px;
    height: 487px;
    z-index: 1;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/background/weights-desktop@2x.png");
    }
  }

  @include vp-1199 {
    padding: 105px 0;

    &::before {
      width: 347px;
      height: 383px;
      bottom: -56px;
      right: 0;
      background-image: url("../img/background/weights-tablet.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/background/weights-tablet@2x.png");
      }
    }
  }

  @include vp-767 {
    padding: 67px 0;

    &::before {
      display: none;
    }
  }
}


.subscription h2 {
  font-family: $ff-alumni-sans;
  font-weight: 600;
  font-size: 54px;
  line-height: 46px;
  margin: 0 0 14px 0;
  letter-spacing: 0.03em;

  @include vp-1199 {
    max-width: 480px;
    margin: 0 auto 8px auto;
    font-size: 42px;
    line-height: 42px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    max-width: none;
    margin: 0 0 7px 0;
  }
}

.subscription__controls {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 37px auto;
  padding: 0;
  list-style-type: none;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10px;
    width: calc(100% - 20px);
    height: 2px;

    background-color: rgba($color-sapphire, 0.2);
    z-index: 1;
  }

  @include vp-1199 {
    margin: 0 auto 43px auto;
  }

  @include vp-767 {
    margin-bottom: 31px;
  }
}

.subscription__control {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: rgba($color-sapphire, 0.5);
  text-transform: none;
  border: none;
  cursor: pointer;
  padding: 17px 10px;
  background-color: $color-transparent;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10px;
    width: calc(100% - 20px);
    height: 2px;
    display: none;

    background-color: $color-crimson;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 24px;
  }

  @include hover {
    color: $color-sapphire;

    &::before {
      display: block;
    }
  }

  @include focus {
    color: $color-sapphire;

    &::before {
      display: block;
    }
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    color: rgba($color-sapphire, 0.3)
  }
}

.subscription__control:not(:last-child) {
  margin-right: 28px;

  @include vp-767 {
    margin-right: 16px;
  }
}

.subscription__control.is-active {
  color: $color-sapphire;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10px;
    width: calc(100% - 20px);
    height: 2px;

    background-color: $color-crimson;
  }
}

.subscription__content {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.subscription__element {
  width: 100%;
}

.subscription__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  @include vp-1199 {
    grid-template-columns: 1fr;
  }

  @include vp-767 {
    gap: 35px;
  }
}

.subscription__item {
  padding: 56px 40px;
  min-width: 360px;
  background-color: $color-default-white;
  border: 7px solid $color-default-white;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover,
  &:focus {
    border-image: $red-blue-linear-left-to-right;
    border-image-slice: 1;
  }

  @include vp-1199 {
    min-width: 442px;
    padding: 64px 40px 67px 40px;
  }

  @include vp-767 {
    min-width: 290px;
    padding: 49px 42px;
  }
}

.subscription__item h3 {
  margin: 0 0 13px 0;
  font-size: 26px;
  line-height: 26px;

  @include vp-1199 {
    margin-bottom: 12px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 7px;
  }
}

.subscription__item p {
  margin: 0 0 80px 0;
  font-weight: 400;

  @include vp-767 {
    margin-bottom: 66px;
    color: $color-chambray;
  }
}

.subscription__price {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
}

.subscription__item span {
  position: relative;
  margin-right: 44px;
  font-family: $ff-roboto-condensed;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: $color-egyptian-blue;
  z-index: 2;

  &::before {
    content: attr(data-price);
    position: absolute;
    bottom: 4px;
    left: -19px;
    font-size: 100px;
    line-height: 100px;
    color: $color-whisper;
    z-index: -1;
  }

  @include vp-767 {
    font-size: 48px;
    line-height: 48px;

    &::before {
      bottom: -4px;
      left: -14px;
      font-size: 79px;
      line-height: 79px;
    }

  }
}

.subscription__item span:last-of-type {
  position: relative;
  margin: 0;
  display: block;

  &:before {
    content: "₽";
    position: absolute;
    top: 0;
    left: -30px;
    font-family: $ff-rouble;
    font-size: 60px;
    line-height: 48px;
    font-weight: 600;
    color: $color-sapphire;
  }

  @include vp-767 {

    &::before {
      font-size: 43px;
      line-height: 38px;
    }

  }
}

.subscription__link {
  display: flex;
  margin-top: 49px;
  color: $color-sapphire;
  width: 206px;
  padding: 19px 10px;

  @include vp-1199 {
    min-width: 208px;
  }
}

.subscription__image-wrapper {
  position: absolute;
  bottom: -277px;
  right: 0;

  @include vp-767 {
    display: none;
  }
}

.subscription__image-wrapper img {

  @include vp-1199 {
    width: 289px;
    height: 345px;
  }

  @include vp-767 {
    display: none;
  }
}
